<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <form id="forgotForm" action="">Enter Mail to Get OTP:
      <input id="email" type="email" placeholder = "Enter mail" />
      <button type="submit" >Send</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
    <script src="/forgot.js"></script>
  </body>
</html>