<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <form id="form">
        <label for="name">Name:
            <input type="text" id="name" name="name" required>
        </label>
        <label for="email">Email:
            <input type="email" id="email" name="email" required>
        </label>
        <label for="password">Password:
            <input type="password" id="password" name="password" required>
        </label>
            <button type="submit" name="signup">signup</button>
        <a href="/user/login" >Login</a>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>
